


<div>
    <mat-toolbar class="header" color="primary">
    <span><h1>NOVA CATEGORIA</h1></span>
    </mat-toolbar>
    <form action="">
        <mat-form-field appearance="fill" class="form">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Computação" name="nome" type="text" [(ngModel)]="categoria.nome">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Ex. Livro de Computação" name="descricao" type="text" [(ngModel)]="categoria.descricao"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="create()">
            <i class="material-icons">add_circle</i>
            CRIAR
        </button>
        <button mat-raised-button color="warn" (click)="cancel()">
            CANCELAR
        </button>
    </div>
</div>



<style>

    .form-box{
        border: 0.1rem solid;
    }
    form{
        text-align: center;
        width: 70%;
        margin: 2rem auto 0 auto;
    }

    h1{
        font-size: 2rem;
        font-weight: 500;
        margin-left: 1rem;
    }
    .buttons{
        text-align: center;

    }

    .mat-raised-button {
      margin: auto 1rem 1rem auto;
    }
    .material-icons{
        margin: auto 0.5rem ;
    }

    
  .form{
    width: 100%;
  }
  </style>