<div class="content">
  <div class="title">
    <h1 color="primary">CATEGORIAS</h1>
  </div>
<div>
  <a mat-raised-button color="primary" routerLink="read">
    <i class="material-icons">local_library</i> TODAS CATEGORIA
</a>
    <a mat-raised-button color="primary" routerLink="create">
      <i class="material-icons">library_books</i> NOVA CATEGORIA
  </a>
  </div>
  <!--<mat-progress-spinner
  *ngIf="true" color="primary" mode="indeterminate">
</mat-progress-spinner>-->
<router-outlet></router-outlet>
</div>
<style>
  .content {
    width: 90%;
    margin: 1.4rem auto auto auto;
  }
  .title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .title h1 {
    font-size: 2rem;
        font-weight: 500;
    color: black;
  }
  .mat-raised-button {
    margin: auto 1rem 1rem auto;
  }
  .material-icons{
      margin: auto 1rem ;
  }

</style>
